<p style="font-size: large;font-weight: bold;">Employee form </p>
Enter First name:
<input type="text" name="fname" id=""  [(ngModel)]="fname"> <br><br>
Enter Last name:
<input type="text" name="lname" id="" [(ngModel)]="lname"><br><br>
Enter Salary:
<input type="number" name="salary" id="" [(ngModel)]="salary"><br><br>
Enter Contact:
<input type="number" name="contact" id="" [(ngModel)]="contact"><br><br>
Enter Designation:
<select name="designation" id="" #designation>
  <option value="volvo">Project Manager</option>
  <option value="saab">Developer</option>
  <option value="mercedes">Designer</option>
</select>
<br><br>
<button (click)="addData()" >Save</button>
